body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

main {
  max-width: 500px;
  margin: 80px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Controle de telas */
#tela-tipo-usuario {
  display: none;
}
